/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LT1     1
#define LT2     2
#define FIRST   3
#define SECOND  4

&lt {
    tapping_term_ms = <110>;
};

&mt {
    tapping_term_ms = <190>;
};

/ { 

        keymap {
                compatible = "zmk,keymap";

       	DEFAULT {
            bindings = <
            &kp Q       &kp W   &kp F   &kp P   &kp B   &kp J   &kp L   &kp U       &kp Y   &kp SEMI 
            &kp A       &kp R   &kp S   &kp T   &kp G   &kp M   &kp N   &kp E       &kp I   &kp O
            &mt LSFT Z  &kp X   &kp C   &kp D   &kp V   &kp K   &kp H   &kp CMMA    &kp DOT &mt LSFT FSLH
                                &lt LT1 RET  &kp SPC    &kp BSPC &to FIRST 
            >;
		};

        LT1 {
            bindings = <
            &kp ESC     &kp MINUS &kp UNDER &kp EXCL    &kp EQUAL     &kp HASH    &kp LBRC    &kp RBRC     &kp LT     &kp GT  
            &kp TAB     &kp QUOT  &kp DQT   &kp QMARK   &kp AMPS      &kp BSLH    &kp LPAR    &kp RPAR     &kp LBKT   &kp RBKT
            &kp LSFT    &kp LCTRL &kp LALT  &kp LGUI    &kp AT        &kp STAR    &kp RGUI    &kp RALT     &kp RCTL   &kp RSFT
                                            &trans      &kp SPC       &kp DEL     &mo LT2
            >;
		};

        LT2 {
            bindings = <
            &kp PRCNT  &mt LA(TAB) LG(TAB) &kp LG(T)    &kp LA(BSPC) &kp PIPE    &kp STAR     &kp NUM_7   &kp NUM_8    &kp NUM_9  &kp PLUS  
            &kp CAPS   &kp DLLR            &kp GRAVE    &kp CARET    &kp TILDE   &kp FSLH     &kp NUM_4   &kp NUM_5    &kp NUM_6  &kp MINUS
            &kp LSFT   &kp LCTRL           &kp LALT     &kp LGUI     &kp ESC     &kp NUM_0    &kp NUM_1   &kp NUM_2    &kp NUM_3  &kp BSLH
                                                        &trans       &kp SPC     &kp BSPC    &trans
            >;
		};

        FIRST {
            bindings = <
            &none       &kp HOME  &kp END  &kp INS   &kp DEL     &kp C_PP       &kp F9  &kp F10 &kp F11 &kp F12
            &kp LEFT    &kp DOWN  &kp UP   &kp RIGHT &kp PG_UP   &kp C_BRI_UP   &kp F5  &kp F6  &kp F7  &kp F8
            &kp LSFT    &kp LCTRL &kp LALT &kp LGUI  &kp PG_DN   &kp C_BRI_DN   &kp F1  &kp F2  &kp F3  &kp F4
                                          &to DEFAULT &kp SPC    &kp BSPC  &to SECOND
            >;
		};

        SECOND {
            bindings = <
            &mt LC(A) LG(A) &mt LC(X) LG(X) &mt LC(C) LG(C)  &mt LC(V) LG(V)   &kp LC(BSPC)    &kp C_VOL_DN  &kp C_VOL_UP                              &kp C_MUTE                        &bt BT_CLR       &bt BT_NXT
            &kp LA(LEFT)    &kp LA(RIGHT)   &kp LS(LA(LEFT)) &kp LS(LA(RIGHT)) &kp LA(BSPC)    &kp RA(TAB)   &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS    &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS &kp C_AC_SEARCH  &bt BT_PRV
            &kp LG(LEFT)    &kp LG(RIGHT)   &kp LG(L)        &mt LC(Z) LG(Z)   &kp LG(BSPC)    &kp RC(TAB)   &kp RC(T)                                 &kp RG(W)                         &kp LG(L)        &kp LC(LA(DEL))
                                                             &to DEFAULT &kp SPC               &kp BSPC  &none  
            >;
		};
        
	};
};
