/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define FIRST   1
#define SECOND  2
#define THIRD   3
#define FOURTH  4

&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <20>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        
        combo_tab {
            timeout-ms = <20>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        
        combo_caps {
            timeout-ms = <20>;
            key-positions = <8 9>;
            bindings = <&kp CAPS>;
        };

        combo_del {
            timeout-ms = <20>;
            key-positions = <10 11 12 13>;
            bindings = <&kp DEL>;
        };

        combo_bspc {
            timeout-ms = <20>;
            key-positions = <16 17 18 19>;
            bindings = <&kp BSPC>;
        };
    };

        keymap {
                compatible = "zmk,keymap";
                
       	DEFAULT {
            bindings = <
            &kp Q       &kp W       &kp F      &kp P      &kp B	        &kp J   &kp L        &kp U            &kp Y           &kp SEMI 
            &kp A       &kp R       &kp S      &kp T      &kp G	        &kp M   &kp N        &kp E            &kp I           &kp O
            &mt LSFT Z  &mt LCTRL X &mt LALT C &mt LGUI D &kp V		    &kp K   &mt RGUI H   &mt RALT CMMA    &mt RCTRL DOT   &mt LSFT FSLH
                                          &to DEFAULT &kp RET  		&kp SPC &to FIRST 
            >;
		};

        FIRST {
            bindings = <
            &kp NUM_1   &kp NUM_2   &kp NUM_3   &kp NUM_4   &kp NUM_5       &kp NUM_6 &kp NUM_7 &kp NUM_8       &kp NUM_9   &kp NUM_0 
            &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT       &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR    &kp RPAR
            &kp MINUS   &kp PLUS    &kp UNDER   &kp EQUAL   &kp TILDE       &kp LBRC  &kp RBRC  &kp LBKT        &kp RBKT    &kp QUOT     
                                                &to DEFAULT &kp DEL  		&kp BSPC   &to SECOND
            >;
		};
		
		SECOND {
            bindings = <
            &kp  F1    &kp F2       &kp F3                              &kp F4              &kp F5              &kp F6    &kp F7    &kp F8    &kp F9    &kp F10
            &kp F11    &kp F12 	    &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS   &kp C_AC_SEARCH     &kp C_AL_NEXT_TASK  &kp LT    &kp GT    &kp LBKT  &kp QMARK &kp BSLH
            &kp PIPE   &kp GRAVE    &kp PG_DN                           &kp PG_UP           &kp HOME    	    &kp DQT   &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT
                                                                        &to DEFAULT         &kp DEL  		    &kp BSPC   &to THIRD 
            >;
		};	
		
		THIRD {
            bindings = <
            &kp INS  &kp DEL        &trans      &trans     &trans       	&trans  &kp HOME      &kp END       &kp PG_DN   &kp PG_UP
            &trans   &trans         &trans      &trans     &trans           &trans  &kp K_VOL_DN  &kp K_VOL_UP  &kp K_MUTE  &trans 
            &bt BT_CLR  &bt BT_NXT  &bt BT_PRV  &trans     &trans   		&trans  &trans        &trans        &trans      &trans   
                                            &to DEFAULT &kp RET  			&kp SPC &to DEFAULT 
            >;
		};	
        
	};
};
