/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LT1     1
#define LT2     2
#define FIRST   3
#define SECOND  4

&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <20>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        
        combo_tab {
            timeout-ms = <20>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        
    };

        keymap {
                compatible = "zmk,keymap";

       	DEFAULT {
            bindings = <
            &kp Q       &kp W       &kp F      &kp P        &kp B	        &kp J   &kp L        &kp U            &kp Y           &kp SEMI 
            &kp A       &kp R       &kp S      &kp T        &kp G	        &kp M   &kp N        &kp E            &kp I           &kp O
            &mt LSFT Z  &kp X       &kp C      &kp D        &kp V		    &kp K   &kp H        &kp CMMA         &kp DOT         &mt LSFT FSLH
                                          &lt LT1 RET       &kp SPC  	    &kp BSPC &to FIRST 
            >;
		};

        LT1 {
            bindings = <
            &kp ESC     &kp LBRC  &kp RBRC  &kp LPAR &kp RPAR      &kp STAR    &kp NUM_7   &kp NUM_8    &kp NUM_9  &kp PLUS  
            &kp CAPS    &kp LBKT  &kp RBKT  &kp LT   &kp GT        &kp FSLH    &kp NUM_4   &kp NUM_5    &kp NUM_6  &kp MINUS
            &kp LSFT    &kp LCTRL &kp LALT  &kp LGUI &kp QUOT      &kp NUM_0   &kp NUM_1   &kp NUM_2    &kp NUM_3  &kp BSLH
                                           &trans   &kp SPC        &kp BSPC    &lt LT2 DEL 
            >;
		};

        LT2 {
            bindings = <
            &kp EXCL   &kp TILDE    &kp PIPE    &kp GRAVE   &kp CARET      &kp C_VOL_DN &kp C_VOL_UP                         &kp C_MUTE                            &bt BT_CLR       &bt BT_NXT  
            &kp CAPS   &kp DLLR     &kp PRCNT   &kp AT      &kp AMPS       &kp GRAVE &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS   &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS    &kp C_AC_SEARCH  &bt BT_PRV
            &kp LSFT   &kp LCTRL    &kp LALT    &kp LGUI    &kp PIPE	   &kp DQT  &kp RGUI                                 &kp RALT                              &kp RCTRL        &kp LSFT
                                           &trans    &kp SPC               &kp BSPC  &trans
            >;
		};
		
		FIRST {
            bindings = <
            &kp ESC     &kp HOME  &kp END  &kp PG_DN &kp PG_UP   &kp F6  &kp F1  &kp F2  &kp F3  &kp F4
            &kp CAPS    &kp INS   &kp DEL  &kp LEFT  &kp RIGHT   &kp LT  &kp F5  &kp F6  &kp F7  &kp F8
            &kp LSFT    &kp LCTRL &kp LALT &kp LGUI  &kp HASH    &kp DQT &kp F9   &kp F10 &kp F11 &kp F12
                                          &to DEFAULT &kp DEL     &kp BSPC  &none 
            >;
		};
        
	};
};
